.navbar {
    height: 85px;
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.navbar-nav {
    justify-content: space-between;
    margin: 0px 0px 0px 244px;
}

#navbarNavAltMarkup div:nth-child(2)  {
    background-color:rgb(218, 0, 29);
    border-radius: 30px 0 0 30px;
    margin-right: -15px;
    width: 430px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

#navbarNavAltMarkup div:nth-child(2) a {
    text-decoration: none;
    color:white;
}

.navbar-brand {
    margin-left: 70px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand i {
    color: rgb(218, 0, 29);
    font-size: 45px;
    transition: background-color 1s ease-out 100ms;
}

.navbar-light .navbar-nav a {
    margin: 0 35px 0 0;
    font-size: 15px;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 1s ease-out 100ms;
    border-radius: 35px;
}

.navbar-nav a:hover {
    color: white;
    background-color:rgb(218, 0, 29);
    border-radius: 35px;
    padding: 10px;
}

main {
    margin: auto;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 350;
    color: rgb(65, 65, 65);
}

a {
    font-weight: 400;
    transition: color 1s ease-out 100ms;
}

a:hover{
    color:black;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-size: 37px;
}

h1, h2 {
    color: black;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: rgb(218, 0, 29);
}

h4 {
    font-size: 20px;
    color: rgb(85, 85, 85);
}

h5 {
    font-size: 25px;
    color: black;
}

.section1{
    display:flex;
    margin-top: 85px;
}

.section1 div:first-child {
    padding: 100px;
    width: 100%;
}

.section1 img{
    width: 100%;
    /* float: right;     */
}

.section1 span{
    font-size: 25px;
}

.section1 p {
    font-size: 18px;
}

.article1 {
    margin-top: 95px;
    display: flex;
    justify-content: center;
}

.article1 section {
    width: 30%;
    padding: 10px;
}

.article2 {
    margin-top: 95px;
    padding: 50px;
    display:flex;
    justify-content: space-around;
}

.article2 section {
    width: 48%;
    background-color: rgb(247, 247, 247);
    padding: 60px;
}

.article2 section p {
    padding-top: 30px;
    padding-bottom: 20px;
}

.article3 {
    margin-top: 95px;
    display: flex;
}

.article3 img {
    width: 100%;
}

.article3 section:nth-child(2){
    padding: 0px 50px 0px 100px
}

.article3 section:nth-child(2) > div {
    padding-top: 15px;
    display:flex;
}

.article3 section:nth-child(2) > div div {
    padding-right: 30px;
}

.article4 {
    margin-top: 95px;
    display: flex;
}

.article4 section {
    padding: 0px 50px 0px 100px;
    width: 48%;
}

.article4 section:nth-child(2) table tr td{
    /* padding-left: 50px; */
    padding: 0.5rem;
    width: 33%;
}

.article5 {
    display: flex;
    margin-top: 95px;
    background-color: rgb(247, 247, 247);
    padding: 100px;
    margin: 95px 50px 95px 50px;
}

.article5 img {
    width: 100%;
} 

.article5 > div {
    width: 30%;
}

.article5 > div:nth-child(2) {
    width: 60%;
    margin-top:20px;
}

.article6 {
    margin-top: 95px;
    margin-right: auto;
    margin-left:auto;
}

.article6 section{
    display: flex;
}

.article6 section h2 {
    color: white;
    margin:25px 0px 0px 95px;
}

.article6 section span a{
    color: white;
    text-decoration: none;
}

.article6 section:first-child {
    background-color:rgb(218, 0, 29);
    padding: 10px 0px 250px 10px;
    border-radius: 5px;
}

.article6 section img {
    width: 100%;
    padding-bottom: 20px;
}

.article6 section div {
    padding: 30px 15px 0px 15px;
    margin-top: 0px;
}

.slider {
    margin-top: -300px;
}

footer {
    margin-top: 85px;
    background-color: rgb(218, 0, 29);
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

footer article {
    display: flex;
}

footer article section {
    padding: 50px 0px 60px 90px;
    width: 33%;
}

footer article section div button {
    border: 2px solid #fff;
    padding: 15px 30px 15px 30px;
}

footer article section:nth-child(3) table tr td {
    padding:15px;
}

footer article section:nth-child(3) table tr td a{
    color: white;
    text-decoration: none;
}

.fa-adn {
    font-size: 45px;
    color: rgb(218, 0, 29);
}


.fa-user-plus, .fa-stopwatch, .fa-wallet {
    color: rgb(218, 0, 29);
    padding-bottom: 15px;
    padding-right: 25px;
    font-size: 25px;
}

.fa-phone, .fa-users, .fa-map-location-dot, .fa-thumbs-up {
    color:rgb(218, 0, 29);
    font-size: 25px;
}

.fa-chevron-right {
    background-color:rgb(218, 0, 29);
    color: white;
    font-size: 15px;
    padding: 10px 13px 10px 13px;
    margin-right: 10px;
    border-radius:30px;
    transition: background-color 1s;
}

.fa-chevron-right:hover {
    color:rgb(218, 0, 29);
    background-color:rgb(255, 255, 255)
}

.brand {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.a-brand {
    font-size: 65px;
    color: white;
}

button {
    background-color:rgb(218, 0, 29);
    padding: 15px 30px 15px 30px;
    color:white;
    border:none;
    border-radius: 30px;
    transition: background-color 1s;
}

button:hover {
    color:rgb(218, 0, 29);
    background-color:rgb(255, 255, 255)
}

.footer-btn {
    background-color: white;
    color:rgb(218, 0, 29);
    padding: 5px 7px 5px 7px;
    margin-right: 10px;
    font-size: 10px;
    transition: background-color 1s;
}

.footer-btn:hover {
    background-color: rgb(218, 0, 29);
    color:white;
}

.bold {
    font-size: 18px;
    font-weight: 400;
}

.red{
    color:rgb(218, 0, 29);
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.red .dot {
    font-size: 60px;
}

@media screen and (min-width: 480px) and (max-width: 990px) {

    .navbar-brand {
        margin-left: 30px;
    }    
    #navbarNavAltMarkup {
        background-color: white;
    }

    #navbarNavAltMarkup div:nth-child(2){
        width: 990px;
    }

    #navbarNavAltMarkup .navbar-nav {
        margin-left: 0;
    }
    .section1 {
        justify-content:center;
    }

    .section1 img {
        width: 90%;
    }
    .section1, .article1, .article2, .article3, .article4, .article5, .article6 section, footer article{
        flex-direction: column;
    }

    .article1 section{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .article2 section {
        width: 100%;
        margin-bottom: 30px;
    }

    .article3 section{
        margin-bottom: 30px;
    }

    .article3 img {
        width: 90%;
    }
    .article4 section {
        width: 100%;
        margin-bottom: 30px;
    }

    .article5 div {
        width: 100%;
    }

    .article5 > div:nth-child(2){
        width: 100%;
        margin-top: 15px;
    }

    footer article section{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;    
        padding: 25px 50px 20px 50px;
    }

    footer article section:nth-child(2) {
        text-align: center;
    }

    footer article section:nth-child(3) table, footer article section:nth-child(3) div {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 200px; */
    }
}

@media screen and (max-width: 480px) {

    .navbar-brand {
        margin-left: 30px;
    }    

    #navbarNavAltMarkup {
        background-color: white;
    }

    #navbarNavAltMarkup div:nth-child(2){
        width: 480px;
    }

    #navbarNavAltMarkup .navbar-nav {
        margin-left: 0;
    }

    .section1 {
        justify-content:center;
        margin-left: auto;
        margin-right: auto;
    }
    .section1 div:first-child {
        padding: 50px;
    }   

    .article2 {
        padding: 25px;
    }
    .article2 section {
        padding: 50px 30px 50px 30px;
    }
    .section1 img {
        width: 90%;
    }
    .section1, .article1, .article2, .article3, .article4, .article5, .article6 section, footer article{
        flex-direction: column;
    }

    .article1 section{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .article2 section {
        width: 100%;
        margin-bottom: 30px;
    }

    .article3 section{
        margin-bottom: 30px;
    }

    .article3 img {
        width: 90%;
    }

    .article3 section:nth-child(2){
        padding-left: 40px;
    }
    
    .article4 section {
        width: 100%;
        margin-bottom: 30px;
        padding-left: 50px;
    }

    .article5 {
        padding: 50px 30px 50px 30px;
        margin: 50px 30px 50px 30px;
    }

    .article5 div {
        width: 100%;
        margin-bottom: 30px;
    }

    footer article section{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;    
        padding: 25px 50px 20px 50px;
    }

    footer article section:nth-child(2) {
        text-align: center;
    }

    footer article section:nth-child(3) table, footer article section:nth-child(3) div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

}